<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.togetheryoungback.mapper.MainMapper">
    <select id="selectGeneralPost" resultType="GeneralPostVO">
        SELECT *
        FROM TBL_GENERAL_POST
    </select>

    <select id="selectMeetingPost" resultType="MeetingPostVO">
        SELECT *
        FROM TBL_MEETING_POST
    </select>

</mapper>