<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.togetheryoungback.mapper.MemberMapper">
    <select id="selectByEmail" resultType="memberVO">
        SELECT ID, MEMBER_EMAIL, MEMBER_TEL, MEMBER_NICKNAME, MEMBER_IMG_NAME, MEMBER_IMG_PATH, MEMBER_KAKAO_PROFILE_URL
        FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <insert id="insert">
        INSERT INTO TBL_MEMBER(ID, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_KAKAO_PROFILE_URL, MEMBER_CREATE_TIME)
        VALUES (SEQ_MEMBER.NEXTVAL, #{memberEmail}, #{memberNickname}, #{memberKakaoProfileUrl}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateProfileImg">
        UPDATE TBL_MEMBER
        SET MEMBER_IMG_NAME = #{memberImgName}, MEMBER_IMG_PATH = #{memberImgPath}
        WHERE ID = #{id}
    </update>

    <select id="selectByMemberNickname" resultType="String">
        SELECT MEMBER_NICKNAME FROM TBL_MEMBER
        WHERE MEMBER_NICKNAME = #{memberNickname}
    </select>

    <update id="updateMemberNickname">
        UPDATE TBL_MEMBER
        SET MEMBER_NICKNAME = #{memberNickname}
        WHERE ID = #{id}
    </update>

    <update id="updateMemberTel">
        UPDATE TBL_MEMBER
        SET MEMBER_TEL = #{memberTel}, MEMBER_UPDATE_TIME = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <update id="softDelete">
        UPDATE TBL_MEMBER
        SET MEMBER_STATUS = 'DISABLED'
        WHERE ID = #{id}
    </update>
</mapper>