<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.togetheryoungback.mapper.MessageMapper">
    <sql id="search">
        <if test="search.type != null and !search.type.equals('')">
            <trim prefix="AND(" prefixOverrides="OR" suffix=")">
                <foreach item="type" collection="search.types">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='t'.toString()">
                                MESSAGE_TITLE LIKE '%'||#{search.keyword}||'%'
                            </when>
                            <when test="type=='c'.toString()">
                                MESSAGE_CONTENT LIKE '%'||#{search.keyword}||'%'
                            </when>
                            <when test="type=='w'.toString()">
                                MEMBER_NICKNAME LIKE '%'||#{search.keyword}||'%'
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <insert id="insert">
        INSERT INTO TBL_MESSAGE
        VALUES(SEQ_MESSAGE.NEXTVAL, #{memberSentId}, #{memberReceivedId}, #{messageTitle}, #{messageContent}, CURRENT_TIMESTAMP, 0)
    </insert>

    <select id="selectIdByNickname" resultType="long">
        SELECT ID
        FROM TBL_MEMBER
        WHERE MEMBER_NICKNAME = #{memberNickname}
    </select>

    <select id="selectInsertedMessageId" resultType="long">
        SELECT MAX(ID) FROM TBL_MESSAGE
    </select>

    <insert id="insertReceived">
        INSERT INTO TBL_RECEIVED_MESSAGE
        VALUES(SEQ_RECEIVED_MESSAGE.NEXTVAL, #{messageId})
    </insert>

    <insert id="insertSent">
        INSERT INTO TBL_SENT_MESSAGE
        VALUES(SEQ_SENT_MESSAGE.NEXTVAL, #{messageId})
    </insert>

    <select id="select" resultType="messageVO">
        SELECT *
        FROM TBL_MESSAGE
        WHERE ID = #{messageId}
    </select>

    <select id="selectCountOfMessageReceived" resultType="int">
        SELECT COUNT(MES.ID)
        FROM TBL_MESSAGE MES JOIN TBL_RECEIVED_MESSAGE RM
        ON RM.MESSAGE_ID = MES.ID AND MES.MEMBER_RECEIVED_ID = #{memberId}
    </select>

<!--    <select id="selectAllReceived" resultType="messageReceivedDTO">-->
<!--        SELECT MESSAGE_TITLE, MEM.MEMBER_NICKNAME, MESSAGE_CONTENT, MESSAGE_CREATE_TIME-->
<!--        FROM TBL_MESSAGE MES JOIN TBL_RECEIVED_MESSAGE RM-->
<!--        ON RM.MESSAGE_ID = MES.ID AND MES.MEMBER_RECEIVED_ID = #{memberId}-->
<!--                             JOIN TBL_MEMBER MEM-->
<!--        ON MEM.ID = MES.MEMBER_RECEIVED_ID-->
<!--    </select>-->

    <select id="selectAllReceived" resultType="messageReceivedDTO">
        SELECT MESSAGE_ID, MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME FROM
            (
                SELECT ROWNUM R, MESSAGE_ID, MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME FROM
                    (
                        SELECT RM.MESSAGE_ID, MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME
                        FROM TBL_MESSAGE MES JOIN TBL_RECEIVED_MESSAGE RM
                                                 ON RM.MESSAGE_ID = MES.ID AND MES.MEMBER_RECEIVED_ID = #{memberId}
                                            JOIN TBL_MEMBER MEM
                                                 ON MEM.ID = MES.MEMBER_RECEIVED_ID
                        ORDER BY MES.ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectReceived" resultType="messageReceivedDTO">
        SELECT MEMBER_NICKNAME, MESSAGE_CREATE_TIME, MESSAGE_TITLE, MESSAGE_CONTENT
        FROM TBL_MEMBER MEM JOIN TBL_MESSAGE MES
        ON MEM.ID = MES.MEMBER_RECEIVED_ID AND MES.ID = #{messageId}
    </select>

    <delete id="deleteReceived">
        DELETE FROM TBL_RECEIVED_MESSAGE
        WHERE MESSAGE_ID = #{messageId}
    </delete>

    <select id="selectCountOfMessageSent" resultType="int">
        SELECT COUNT(MES.ID)
        FROM TBL_MESSAGE MES JOIN TBL_SENT_MESSAGE SM
        ON SM.MESSAGE_ID = MES.ID AND MES.MEMBER_RECEIVED_ID = #{memberId}
    </select>

<!--    <select id="selectAllSent" resultType="messageSentDTO">-->
<!--        SELECT MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CONTENT, MESSAGE_CREATE_TIME-->
<!--        FROM TBL_MESSAGE MES JOIN TBL_SENT_MESSAGE SM-->
<!--        ON SM.MESSAGE_ID = MES.ID AND MES.MEMBER_SENT_ID = #{id}-->
<!--                             JOIN TBL_MEMBER MEM-->
<!--        ON MEM.ID = MES.MEMBER_SENT_ID-->
<!--    </select>-->

    <select id="selectAllSent" resultType="messageSentDTO">
        SELECT MESSAGE_ID, MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME FROM
            (
                SELECT ROWNUM R, MESSAGE_ID, MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME FROM
                    (
                        SELECT SM.MESSAGE_ID, MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME
                        FROM TBL_MESSAGE MES JOIN TBL_SENT_MESSAGE SM
                                                  ON SM.MESSAGE_ID = MES.ID AND MES.MEMBER_SENT_ID = #{memberId}
                                             JOIN TBL_MEMBER MEM
                                                  ON MEM.ID = MES.MEMBER_SENT_ID
                        ORDER BY MES.ID DESC
                    ) P1
    <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
            ) P2
        WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectSent" resultType="messageSentDTO">
        SELECT MEMBER_NICKNAME, MESSAGE_CREATE_TIME, MESSAGE_TITLE, MESSAGE_CONTENT
        FROM TBL_MEMBER MEM JOIN TBL_MESSAGE MES
        ON MEM.ID = MES.MEMBER_SENT_ID AND MES.ID = #{messageId}
    </select>

    <delete id="deleteSent">
        DELETE FROM TBL_SENT_MESSAGE
        WHERE MESSAGE_ID = #{messageId}
    </delete>

    <delete id="deleteAll">
        DELETE FROM TBL_MESSAGE
        WHERE MEMBER_SENT_ID = #{memberId} OR MEMBER_RECEIVED_ID = #{memberId}
    </delete>
</mapper>