<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.togetheryoungback.mapper.MessageMapper">

    <!--  메시지 작성  -->
    <insert id="insert">
        INSERT INTO TBL_MESSAGE
        VALUES(SEQ_MESSAGE.NEXTVAL, #{memberSentId}, #{memberReceivedId}, #{messageTitle}, #{messageContent}, #{messageCreateTime})
    </insert>

    <!--  메시지 작성시 받은 메시지함 등록   -->
    <insert id="insertReceived">
        INSERT INTO TBL_RECEIVED_MESSAGE
        VALUES(SEQ_RECEIVED_MESSAGE.NEXTVAL, #{messageId})
    </insert>

    <!--  메시지 작성시 보낸 메시지함 등록  -->
    <insert id="insertSent">
        INSERT INTO TBL_SENT_MESSAGE
        VALUES(SEQ_SENT_MESSAGE.NEXTVAL, #{messageId})
    </insert>

    <!--  받은 메시지 목록  -->
    <select id="selectAllReceived" resultType="messageReceivedDTO">
--         SELECT MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME
--         FROM TBL_MEMBER
--             LEFT JOIN (
--             SELECT MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_CREATE_TIME
--             FROM TBL_MESSAGE MES
--                      LEFT JOIN TBL_MEMBER MEM
--                                ON MEM.ID = MES.MEMBER_RECEIVED_ID
--             WHERE MES.MEMBER_RECEIVED_ID = #{id}
--             SELECT MESSAGE_TITLE, MEMBER_NICKNAME, MESSAGE_TITLE, MESSAGE_CREATE_TIME
            SELECT MESSAGE_TITLE, MEMBER_RECEIVED_ID, MESSAGE_CONTENT, MESSAGE_CREATE_TIME
            FROM TBL_MESSAGE MES
                     LEFT JOIN TBL_RECEIVED_MESSAGE RM
                               ON RM.MESSAGE_ID = MES.ID
            WHERE MES.MEMBER_RECEIVED_ID = #{id}
    </select>

    <!--  보낸 메시지 목록  -->
    <select id="selectAllSent" resultType="messageSentDTO">
        SELECT MESSAGE_TITLE, MEMBER_SENT_ID, MESSAGE_CONTENT, MESSAGE_CREATE_TIME
        FROM TBL_MESSAGE MES
                 LEFT JOIN TBL_SENT_MESSAGE SM
                           ON SM.MESSAGE_ID = MES.ID
        WHERE MES.MEMBER_SENT_ID = #{id}
    </select>

    <!--  메시지 상세보기  -->
<!--    <select id="select" resultType="MessageVO">-->
<!--        SELECT MEMBER_NICKNAME, MESSAGE_CREATE_TIME, MESSAGE_TITLE, MESSAGE_CONTENT-->
<!--        FROM TBL_MEMBER MEM-->
<!--                 LEFT JOIN TBL_RECEIVED_MESSAGE RM-->
<!--                           ON RM.MESSAGE_ID = MEM.ID-->
<!--        WHERE MEM.ID =-->
<!--    </select>-->
</mapper>