/* 광범위 지정 CSS */
*,
:after,
:before {
    box-sizing: border-box;
    outline: none;
}

.cls-1 {
    font-size: 50px;
    font-weight: 100;
    fill: #2a7de1;
    text-anchor: middle;
    font-family: "Black Han Sans";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a,
a:active,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

article,
aside,
body,
div,
footer,
header,
section {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Helvetica Neue, Apple SD Gothic Neo, Noto Sans KR,
    Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}

.grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    max-width: 1140px;
}

.mr4 {
    margin-right: 4px;
}

.mb24 {
    margin-bottom: 24px;
}

.wrap {
    width: 100%;
    height: 100vh;
}

body {
    overflow-y: hidden;
}

/* 모달 */
.modal-background {
    display: none;
    right: unset;
    bottom: unset;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-container {
    display: none;
    margin: 60px auto auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.modal-header {
    position: relative;
    padding: 20px 24px 0;
    line-height: 20px;
    border-color: rgba(0, 0, 0, .1);
}

.btn-close {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 13px;
    right: 14px;
    cursor: pointer;
}

.modal-body {
    max-height: calc(100% - 45px);
    overflow-y: auto;
    padding: 24px 24px 20px 24px;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.modal-footer {
    position: relative;
    padding: 10px 24px;
    border-color: rgba(0, 0, 0, .1);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-top: 1px solid #e9ecef;
}

.modal-btn {
    color: #3478ff !important;
    background-color: #fff;
    border: 1px solid #3478ff;
    box-shadow: 0 0 0 0.2rem rgba(52, 120, 255, .25);
    min-width: 72px;
    cursor: pointer;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    border-radius: 4px;
}

.modal-btn:first-child{
    margin-right: 10px;
}

/* mypage CSS ===============================================================================================================================================================*/
.sidebar-profile-img {
    width: 48px;
    height: 48px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    line-height: 68px;
    background-size: 100% 100%;
    border: 1px solid #e1e4e6;
    border-radius: 100%;
    display: block;
    overflow: hidden;
}

.mypageWrapper {
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 324px);
    height: 100%;
    width: 100%;
    max-width: 1140px;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 150px;
    padding-top: 0 !important;
    padding-left: 16px;
    padding-right: 16px;
}

.asideMenucontainer {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    position: relative;
    flex: 0 0 25%;
    max-width: 20%;
    width: 20%;
}

.mypageAsideMenu {
    padding: 12px;
    position: relative;
}

.profile {
    display: flex;
    margin-bottom: 32px !important;
}

.imageUploadContainer {
    cursor: pointer;
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 68px;
    text-align: center;
}

.profile-img-delete-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    right: -4px;
    top: -4px;
    cursor: pointer;
}

.image {
    background-image: url(https://cdn.comento.kr/images/illust/illust-photo-upload.svg);
    width: 48px;
    height: 48px;
    line-height: 68px;
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
}

.imageUploadContainer input[type="file"] {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.input {
    appearance: none;
}

.userInfoContainer {
    overflow: hidden;
    cursor: pointer !important;
    margin-left: 12px !important;
}

.userName {
    color: #202325;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    word-wrap: break-word;
    word-break: keep-all;
    margin-bottom: 2px !important;
}

.userEmailContainer {
    align-items: center;
    cursor: pointer !important;
    display: flex;
}

.userEmail {
    color: #767d82;
    line-height: 16px !important;
    font-size: 12px;
    font-weight: 400;
    word-break: keep-all;
    word-wrap: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.socialIconContainer {
    height: 14px;
    min-width: 14px;
    background: #fee500;
    align-items: center;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    margin-left: 6px !important;
    margin-top: 2px !important;
}

.socialIcon {
    border-style: none;
    max-width: 100%;
}

a {
    background-color: transparent;
}

.editProfile,
.myPosts,
.myReplies,
.mySchedules,
.myFriends {
    border-radius: 8px;
    padding: 12px 4px;
    align-items: center;
    display: flex !important;
    justify-content: space-between;
    cursor: pointer !important;
    color: #202325;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 25px;
    word-wrap: break-word;
    word-break: keep-all;
    font-weight: 400;
    position: relative !important;
}

.editProfile {
    font-weight: 600;
}

.borderDividingLine {
    border-color: #eaecee;
    border-style: solid;
    border-top: 1px;
    height: 0;
    width: 100%;
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

.profileContentsContainer {
    padding: 12px 24px !important;
    max-width: 70%;
    box-sizing: border-box;
    position: relative;
    width: 70%;
}

.profileContentsHeader {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.profileContentsTitle {
    align-items: center;
    display: flex !important;
    height: 29px;
    justify-content: space-between;
}

.backwardButton {
    display: none;
}

.personalInfoSetting {
    color: #3c4144;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    word-wrap: break-word;
    word-break: keep-all;
}

.profileContentsOptions {
    background-color: #ffffff;
    max-width: 1140px;
    margin: 8px -12px 24px;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 !important;
    border-bottom: 0 !important;
    margin-left: -8px;
}

.myProfileContainer,
.membershipWithdrawalContainer {
    margin-right: 12px;
    align-items: center;
    display: flex !important;
    position: relative;
}

.myProfileButton,
.membershipWithdrawalLinkButton {
    margin: 8px 0 9px;
    min-width: 40px;
    color: #adb3b8;
    font-weight: 500;
    background: none !important;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    outline: 0;
    padding: 4px;
    width: fit-content;
    border-radius: 6px;
    height: 30px !important;
    align-items: center;
    display: flex !important;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.active-font {
    color: #040505;
}

.active:after {
    background: #595f63 !important;
    bottom: -1px;
    content: "";
    display: flex;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.membershipWithdrawalLinkButton {
    color: #adb3b8;
}

.profileContentsBody {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.profileContents {
    align-items: center;
    justify-content: space-between;
}

.profileContents .profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userInformationContainer {
    align-items: center;
    display: flex;
    width: 200px;
}

.userInformationContainer .imageUploadContainer {
    width: 90px;
    height: 90px;
    display: block;
    margin-right: 20px;
    cursor: pointer;
    line-height: 68px;
    position: relative;
    text-align: center;
}

.userInformationContainer .image {
    background-image: url(https://cdn.comento.kr/images/illust/illust-photo-upload.svg);
    width: 90px;
    height: 90px;
    background-size: 100% 100%;
    line-height: 68px;
    border-radius: 100%;
    display: block;
    cursor: pointer;
}

.userInformationContainer .imageItem {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.userInformationContainer .input[type="file"] {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.profile .userName {
    flex-direction: column;
    justify-content: center;
    display: flex;
    color: #202325;
    word-wrap: break-word;
    word-break: keep-all;
    font-weight: 600 !important;
    margin-right: 12px !important;
}

.serviceInformationContainer {
    width: 382px;
    display: flex !important;
}

.numPostContainer,
.numReplyContainer,
.numScheduleContainer {
    border-right: 1px solid #eaecee;
    justify-content: center;
    width: 100%;
    color: rgb(4, 5, 5);
    text-align: center;
    word-wrap: break-word;
    word-break: keep-all;
}

.numScheduleContainer {
    border-right: 0;
}

.numPostTitle,
.numReplyTitle,
.numScheduleTitle {
    color: rgb(173, 179, 184);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    word-wrap: break-word;
    word-break: keep-all;
    margin-top: 16px !important;
}

.editNicknameContainer {
    width: 100%;
    height: 58px;
    margin-top: 32px;
    align-items: center;
    display: flex !important;
}

.editNicknameTitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    word-break: keep-all;
}

.editNicknameBody {
    margin-left: 12px !important;
    display: flex;
}

.nicknameBox {
    width: 205px;
    flex: 1;
    position: relative;
    text-align: left;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    padding: 0 16px;
    color: #3c4144;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0.02em;
    line-height: 25px;
    transition: all 0.2s ease;
    width: 100%;
}

.verifyNickname {
    height: 40px;
    margin-left: 4px;
    display: flex;
    background-color: transparent;
    border: 1px solid #2a7de1;
    color: #2a7de1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 25px;
    min-width: 56px;
    padding: 0 14px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.saveNickname {
    height: 40px;
    margin-left: 4px;
    background-color: #2A7DE1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 25px;
    min-width: 56px;
    padding: 0 14px;
    cursor: pointer;
    align-items: center;
    border: none;
    color: #fff;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.saveNickname.disable {
    background-color: #d4e5f9;
    cursor: not-allowed;
}

.nicknameUpdateMessageContainer {
    height: 14px;
    color: rgb(42, 125, 225);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    word-wrap: break-word;
    word-break: keep-all;
    margin-top: 4px !important;
    margin-left: 100px; /* 임시로 추가함 */
}


.nicknameBox.error {
    border-color: #e92525;
    color: #e92525;
}

.nicknameUpdateMessageContainer.error {
    color: rgb(233, 37, 37);
}

.nicknameUpdateMessageContainer.error > svg {
    fill: rgb(233, 37, 37) !important;
}


.notificationSettingTitle {
    color: #3c4144;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    word-wrap: break-word;
    word-break: keep-all;
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.notificationRecieveAgreement {
    color: rgb(32, 35, 37);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 25px;
    word-wrap: break-word;
    word-break: keep-all;
    font-weight: 600 !important;
    margin-bottom: 16px !important;
}

.lawNotificationAgreementContainer,
.serviceNotificationAgreementContainer,
.commercialNotificationAgreementContainer {
    display: flex !important;
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

.lawNotification {
    cursor: not-allowed !important;
}

.lawNotification,
.serviceNotification,
.commercialNotification {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    box-sizing: border-box;
    appearance: none;
}

.disabled {
    cursor: not-allowed !important;
}

.disabled,
.able {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    pointer-events: none;
}

.disabled:before,
.able:before {
    background-color: #f3f4f5;
    content: "";
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    margin-right: 8px;
    margin-top: 2px;
    width: 20px;
}

.disabled:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23cfd4d7'%3E%3Cpath d='M13.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-4-4a.5.5 0 1 1 .708-.708L6.5 10.793l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    border-color: #e1e4e6;
}

.checked:before {
    background-image: url("/static/images/check.svg") !important;
    border-color: #2a7de1;
    background-color: #fff;
}

.lawNotificationAgreement {
    color: rgb(207, 212, 215);
}

.lawNotificationAgreement,
.serviceNotificationAgreement,
.commercialNotificationAgreement {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 25px;
    word-wrap: break-word;
    word-break: keep-all;
}

.serviceNotificationAgreement,
.commercialNotificationAgreement {
    color: rgb(148, 155, 160);
}

.contactInfoTitle {
    color: rgb(32, 35, 37);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 25px;
    word-wrap: break-word;
    word-break: keep-all;
    font-weight: 600 !important;
    margin-top: 60px !important;
    margin-bottom: 16px !important;
}

.contactInfoSubtitle {
    color: rgb(118, 125, 130);
    display: inline-block;
    padding: 0 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    word-break: keep-all;
    margin-bottom: 8px !important;
}

#phoneNumberForm {
    text-align: left;
}

.phoneNumberContainer {
    width: 370px;
    display: flex !important;
    flex: 1;
    margin-bottom: 15px;
}

.phoneNumberInputContainer {
    display: block;
    position: relative;
}

.phoneNumberBox {
    text-align: left;
    border: 1px solid #e1e4e6;
    border-radius: 4px;
    padding: 0 16px;
    color: #3c4144;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0.02em;
    line-height: 25px;
    transition: all 0.2s ease;
    width: 100%;
}

.phoneNumberErrorMessage {
    color: rgb(233, 37, 37);
    margin-left: 16px;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    word-wrap: break-word;
    word-break: keep-all;
    display: none;
}

.saveContactInfo {
    height: 40px;
    margin-left: 4px;
    background-color: #2a7de1;
    /* 에러시 background-color: #d4e5f9; */
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 25px;
    min-width: 56px;
    padding: 0 14px;
    align-items: center;
    border: none;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* 회원탈퇴 css ===============================================================================================================================================================*/
.membershipWithdrawalWrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: none;
}

.membershipWithdrawalHeader {
    color: rgb(60, 65, 68);
    word-wrap: break-word;
    word-break: keep-all;
    font-weight: 600 !important;
}

.membershipWithdrawalBody {
    margin: 24px 0;
}

.membershipWithdrawalBody li {
    margin-bottom: 16px;
    color: rgb(89, 95, 99);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 25px;
    word-wrap: break-word;
    word-break: keep-all;
}

.membershipWithdrawalButton {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 20px;
    min-width: 49px;
    padding: 0 12px;
    background-color: #d4e5f9;
    color: #2a7de1;
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-left: auto;
}

@media all and (max-width: 1000px) {
    header,
    footer,
    .profileContentsContainer {
        display: none;
    }

    .profileContentsContainer {
        background-color: #fff;
    }

    .mypageWrapper {
        background-color: rgb(255, 255, 255);
        min-height: calc(100vh - 324px);
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
    }

    .asideMenuContainer {
        width: 100vw;
    }

    .profile {
        align-items: center;
        background-color: #fff;
        display: flex !important;
        margin-bottom: 12px;
        padding: 24px 16px;
    }

    .imageUploadContainer,
    .image {
        width: 60px;
        height: 60px;
    }

    /* 작업용 */
    /* .asideMenuContainer {
      display: none;
    }
    .profileContentsContainer {
      display: block;
    }
    /* 작업용 */
    .profileContentsContainer {
        max-width: none;
        width: 100vw;
        position: absolute;
        flex: 0 0 50%;
    }

    .editProfile {
        font-weight: 400;
    }

    .profileContentsTitle {
        justify-content: unset;
    }

    .backwardButton {
        display: block;
        height: 30px;
        width: 30px;
    }

    .profileContentsOptions {
        margin: 8px -12px 0px;
    }

    .profile {
        margin-bottom: 0px !important;
    }

    .editNicknameContainer {
        margin-top: 0px;
    }

    .serviceInformationContainer {
        margin-top: 24px;
        width: 100%;
    }

    .contactInfoTitle {
        margin-top: 0px !important;
    }

    .membershipWithdrawalWrapper {
        margin-top: 16px;
    }
}

@media all and (max-width: 500px) {
    .profile {
        flex-wrap: wrap;
    }
}

.update-container-img {
    width: 90px;
    height: 90px;
    background-size: 100% 100%;
    line-height: 68px;
    border: 1px solid #e1e4e6;
    border-radius: 100%;
    display: block;
    cursor: pointer;
}